.ProfileHeader
  padding-bottom: 16px
  position: relative

  .Avatar
    position: absolute
    top: 200px - 132px / 2
    left: 16px
    outline: solid 4px white

  .content
    padding: 0 16px

  .actions-bar
    padding: 12px 0
    margin-bottom: 16px
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 8px

  .username
    margin-bottom: 16px

  .bio
    margin-bottom: 12px      
    white-space: pre-wrap
    line-height: 135%

  .stats-bar
    display: flex
    gap: 16px

    a:hover
      text-decoration: underline