@use '../../base'

.Modal_wrapper
  position: fixed
  z-index: 100
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center

.Modal_backdrop
  @include base.full-absolute
  z-index: -1
  background-color: rgba(0, 0, 0, 0.4)

.Modal
  background-color: white
  border-radius: 16px
  position: relative
  overflow-y: auto
  max-width: 100%
  max-height: 100%

.Modal.EditProfile
  .Banner_wrapper
    width: 100%
    aspect-ratio: 3 / 1
    position: absolute
    z-index: 0

    .bar
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 1
      display: flex
      gap: 20px

  .Avatar_wrapper
    width: fit-content
    margin-top: 150px
    position: relative
    left: 16px
    z-index: 1

    label
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .Avatar
    outline: solid 4px white

  .text-inputs
    padding: 16px
    display: flex
    flex-direction: column
    gap: 24px