@use '../../App'

.Button
  font-size: 16px
  font-weight: bold
  line-height: 135%
  border: none
  border-radius: 1000px
  display: flex
  justify-content: center
  align-items: center
  gap: 8px
  cursor: pointer
  transition: all 0.2s ease-in-out

  &.dark
    color: white
    background-color: App.$dark-100

    &:hover
      opacity: 0.9

  &.primary
    color: white
    background-color: App.$blue

    &:hover
      background-color: App.$blue-110

  &.outline
    color: App.$dark-100
    background-color: white
    border: solid 1px App.$dark-30

    &:hover
      filter: brightness(0.9)

  &.large
    width: 100%
    padding: 16px 32px

  &.medium
    padding: 8px 20px

  &.small
    font-size: 14px
    padding: 6px 18px

  &.rgl
    font-weight: 400

  &.icon
    padding: 8px

    svg
      width: 20px
      height: 20px

  &:disabled
    opacity: 0.5 !important
    cursor: default

.FollowButton.outline:hover
  color: App.$red
  border-color: App.$red
  background-color: App.$red-10
  filter: brightness(1)

.IconButton
  color: App.$dark-100
  background-color: transparent
  padding: 8px
  border: none
  border-radius: 1000px
  display: inline-grid
  place-content: center
  cursor: pointer
  transition: all 0.2s ease-in-out

  &.dark
    color: white
    background-color: rgba(App.$dark-100, 80%)

    &:hover
      background-color: rgba(App.$dark-70, 80%)

  &.small
    svg
      width: 18px
      height: 18px

  &:hover
    background-color: App.$grey
