@use '../../App'

html, body, #root
  height: 100%
  
.Layout
  min-height: 100%
  display: grid
  grid-template-columns: repeat(3, auto)
  justify-content: center
  gap: 32px

  > main
    width: 600px
    border: solid 1px App.$dark-10
    border-top: none
    border-bottom: none