@use '../../App'

html, body, #root
  height: 100%

.Layout
  height: 100%
  display: flex
  gap: 32px

  .Sidebar_wrapper
    flex-grow: 1
    display: flex
    justify-content: flex-end
    position: relative

  > .right-part
    flex-grow: 1

    > main
      width: 600px
      min-height: 100%
      border: solid 1px App.$dark-10
      border-top: none
      border-bottom: none