@use '../../App'

header.PageHeader
  position: sticky
  top: 0
  z-index: 2
  background-color: rgba(white, 0.8)
  height: 52px
  padding: 8px
  display: flex
  align-items: center
  gap: 24px
  backdrop-filter: blur(20px)

  > .content
    display: flex
    flex-direction: column
    gap: 2px

  h2
    margin-bottom: 0

.notifications > .PageHeader
  border-bottom: solid 1px App.$dark-10