@use '../../App'

.PageHeader
  background-color: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(20px)
  position: sticky
  top: 0
  z-index: 1

  div.bar
    height: 52px
    padding: 8px
    display: flex
    align-items: center
    gap: 24px

    .heading
      margin-bottom: 2px

.home > .PageHeader
  border-bottom: solid 1px App.$dark-10