.PageHeader
  background-color: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(20px)
  height: 52px
  padding: 8px
  display: flex
  align-items: center
  gap: 24px
  position: sticky
  top: 0
  z-index: 1

  .heading
    margin-bottom: 2px