.Avatar
  border-radius: 1000px
  background-size: cover
  background-position: center
  transition: filter 0.2s ease-in-out
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05)
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-fit: cover

a > .Avatar:hover
  filter: brightness(0.9)