$dark-100: #0F1419
$dark-70: #536471
$dark-30: #CFD9DE
$dark-10: #EFF3F4
$grey: #E7E7E8

$blue: rgb(29, 155, 240)
$blue-110: rgb(28, 142, 219)
$blue-50: rgba(29, 155, 240, 0.5)
$blue-10: rgba(29, 155, 240, 0.1)

$red: rgb(244, 33, 46)
$red-50: rgba(244, 33, 46, 0.5)
$red-10: rgba(244, 33, 46, 0.1)

$green: rgb(0, 186, 124)
$green-50: rgba(0, 186, 124, 0.5)
$green-10: rgba(0, 186, 124, 0.1)

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: $dark-100
  font-family: 'Roboto', Arial, sans-serif

.bold
  font-weight: bold

.grey
  color: $dark-70

.small
  font-size: 14px

.heading
  font-size: 20px
  font-weight: bold
  letter-spacing: 4%
  margin-bottom: 4px

a
  color: $dark-100
  text-decoration: none

.name
  color: $dark-100
  font-weight: bold

a > .name:hover
  text-decoration: underline

.username
  color: $dark-70

